*{
    box-sizing: border-box;
    font-family: comfortaa;
}

/* Main body styling*/

body{
    height: 100vh;
    background-color: rgb(150, 150, 197);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* wrapper */

.wrapper{
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 7px;
}


/* Email msg Header */
.email-msg-header{
    text-align: center;
}

/* Company Name */
.company-name{
    width: 100%;
    font-size: 35px;
    color: grey;
    text-align: center;
}

.welcome-text{
    text-align: center;
}

.verify-account-btn{
    padding: 15px;
    background-color: blue;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.copy-right{
    text-align: center;
    color: grey;
}